[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = false
[core]
	autocrlf = input
	whitespace = -trailing-space
	ignorecase = true
	excludesfile = /Users/phadviger/.gitignore_global
	editor = /usr/local/bin/vim
	pager = less -FXRS -x2
[diff]
	renames = copies
	renameLimit = 5000
[merge]
	renameLimit = 5000
[alias]
	bc = branch --contains
	cb = checkout --no-track -b
	cleanup = "!sh -c 'git rm $(git ls-files —deleted)'"
	cob = "!bash -c 'git checkout $(git branch -a | awk '\"'\"'{FS=\"[/]\";} {gsub(/remotes\\/[^\\/]+\\//, \"\"); gsub(/[\t *]/, \"\"); if ($0 !~ /HEAD/) {print $1;} }'\"'\"' | sort -ui | percol --match-method regex)'"
	cmp = "!sh -c 'git log --left-right --oneline --no-merges --pretty=format:\"%m %Cred%h%Creset - %s %Cgreen(%an - %cr)%Creset %C(yellow)%d%Creset\" $0...'"
	crs = clone --recurse-submodules
	d = diff --ignore-space-at-eol --ignore-space-change
	dc = diff --cached --ignore-space-at-eol --ignore-space-change
	ds = diff --stat
	dcs = diff --cached --stat
	dn = diff --name-status
	f=log --oneline --merges --pretty=format:'%Cred%h%Creset - %C(white)%s %Cgreen(%cr)%C(blue) [%cn]%C(yellow)%d%Creset' --abbrev-commit
	fa = fetch --all --tags
	lb = checkout -
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	lg = log --graph --date-order --pretty=format:'%Cred%h%Creset - %C(white)%s\n%C(red ul)          %Cgreen(%cr) %C(cyan)[%an,%cn]%Creset %C(yellow)%d%Creset'
	lga = log --graph --date-order --all --pretty=format:'%Cred%h%Creset - %C(white)%s\n%C(red ul)          %Cgreen(%cr) %C(cyan)[%an,%cn]%Creset %C(yellow)%d%Creset'
	lgn = log --no-merges --name-status --pretty=format:'%C(white)%m %Cred%h %Creset- %C(white)%s\n           %C(yellow)%d%n  %Cgreen%ci - %an,%cn - %Cresetparent: %Cred%p%Creset'
	m = merge --no-ff --no-commit --gpg-sign
	p = pull --no-ff --no-commit --gpg-sign
	cs = commit --gpg-sign
	mergelog = log --oneline --decorate --graph
	s = status -uall -s -b
	ss = submodule status --recursive
	su = submodule update --recursive
	viewprevrel = "!sh -c 'git mergelog | grep \"tag: \" | head'"
	# diff vs. origin for same branch
	vs = "!bash -c 'X=\"${0/bash/}\"; git d origin/${X:-$(git rev-parse --abbrev-ref HEAD)}..'"
	vsn = "!bash -c 'X=\"${0/bash/}\"; git d --name-only origin/${X:-$(git rev-parse --abbrev-ref HEAD)}..'"
	wiff = diff --ignore-space-at-eol --ignore-space-change --word-diff
	wiffc = diff --ignore-space-at-eol --ignore-space-change --word-diff --cached
	# git sba <repository uri> <destination folder>
	# git sba https://bitbucket.org/vim-plugins-mirror/vim-surround.git .vim/bundle/tpope-vim-surround
	# the acronym stands for "subtree add"
	sba = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
	# the acronym stands for "subtree update"
	sbu = "!f() { git subtree pull --prefix $2 $1 master --squash; }; f"
	# find all remote branches already in master
	merged = branch -r --merged
	rebase-preserve = rebase --committer-date-is-author-date
	own = "!git lg --name-only --author=\"$(git config user.name)\""
	sl = shortlog --summary --numbered --email --all

[color]
	status = auto
	branch = auto

[branch]
	autoSetupMerge = false

[color "status"]
	added = green
	changed = cyan
	untracked = red

[color "diff"]
	meta = blue
	frag = magenta
	old = red
	new = green

[help]
	format = html
[web]
	browser = gc
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Philip Hadviger
	email = 613305+datfinesoul@users.noreply.github.com
	signingkey = 4A4F755890424725
[fetch]
	prune = true
[status]
	relativePaths = false
[browser "gc"]
	cmd = "google-chrome"
[browser "ff"]
	cmd = open -a Firefox.app
[commit]
	template = ~/.git_commit_template
